

.header{
    background-color:$greenBgc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 32px;
    margin-left: -15px;
    height: 100vh;


    .nav-item{ 
        border-left: 4px solid $greenBgc;
        margin-left: 15px;
        span{
        vertical-align:bottom;
        margin-right: 16px;
        padding-left: 16px;
        }
        a{
            color:$black;
            font-weight: 700;
            padding-left: 0;

        }
        a:hover{
            color:$green;
        }
        a.active{
            color:$green;
        }
    }
}

.nav-item.active{
    border-left-color: $green;
    a{
        color:$green;
    }  
}

.user{
    
    p{
        color:$gray;
        margin: 0;

    }
    
}

.userImg{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.userName{
    margin-bottom:4px;
    font-weight: 700;
}