.pl-32px{
    padding-left:32px;
}

.mr-16px{
    margin-right: 16px;
}

.mr-8px{
    margin-right: 8px ;
}

.ml-32px{
    margin-left: 32px
}

.fz-16px{
    font-size: 16px;
}

.fz-14px{
    font-size: 14px;
}

.lh-24px{
    line-height: 24px;
}