@import "./setting/_variable";

.pl-32px{
    padding-left:32px;
}

.pb-16px{
    padding-bottom: 16px;
}

.mr-16px{
    margin-right: 16px;
}

.mr-24px{
    margin-right: 24px;
}

.mb-16px{
    margin-bottom: 16px;
}

.mr-8px{
    margin-right: 8px ;
}

.ml-32px{
    margin-left: 32px
}

.fz-12px{
    font-size: 12px;
}

.fz-14px{
    font-size: 14px;
}

.fz-16px{
    font-size: 16px;
}

.lh-24px{
    line-height: 24px;
}

.colorGray{
    color:$gray;
}

.dropdownBtn{
    font-weight: 700;
    span{
        vertical-align:bottom;
        color:$green;
    }
}

.btn-lightGreen{
    background-color:$greenBgc;
    border-color:$greenLine;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    .material-icons{
        vertical-align:bottom;
        transform:rotate(-90deg);
    }
}

.btn-grass{
    color:white;
    background-color: $green;
}

.btn-outline-grass{
    border-color: $green;
    color: $green;
    font-weight: 700;
}

.underLine{
    border-bottom: 1px solid $greenLine;
}

.spanPointer{
    cursor: pointer;
}
.spanPointer:hover{
    color:$green;
}